body {

    background-image: url('../assets/bg.png');
    background-repeat: repeat;
    overflow-x:hidden;


}
.main-content {
  height: 100%;
}

.inner-container {
  background-color: #FDFDFD;
  height: 100%;
  padding-bottom: 50px;

}
.bg-purple {
  background-color: purple;
  color: white;
}
.bg-green {
  background-color:green;
    color: white;
}
.bg-red {
  background-color: red;
  color: white;
}
.bg-pink {
  background-color: pink;
}
.bg-brown {
  background-color: brown;
  color: white;
}
footer {
  height: 20px;
}
